*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Neutral Face';
    color: #e0e0e0;
    background-color: #161616;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position:fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
}
.header .menu,
.header .logo{
    font-size: 25px;
    font-weight: bolder;
}
.header .logo{
    margin-left: 20px;
}
.header .menu{
    margin-right: 20px;
}

.container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .container-row{
    display: flex;
    height: 150px;
    margin: 20px 0px;
}
.container-row img{
    height: 150px;
    margin-top: 10px ;
}
.container-row h1,
.container-row h2{
    font-size: 120px;
    margin: 0px 50px;
    cursor: pointer;
}
.container-row h1{
    font-family: 'Kenoky';
    font-weight: lighter;
    text-transform: uppercase;
    font-style: italic;
    font-size: 140px;
}
.quote{
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 60px;
    width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.quote h1{
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
}
.svg{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.svg img{
    width: 150px;
    filter: invert(.2);
    animation: animate 8s linear infinite;
}
@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.menu-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    color: #e0e0e0;
    transform: translateY(1000px);
    opacity: 0;
}
.menu-container .menu-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
.menu-items li{
    font-size: 150px;
    font-weight: lighter;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0px;
    font-family: 'Kenoky';
    text-decoration: 1px underline #7c7c7c;
    font-style: italic;
    transition: .2s all cubic-bezier(0.755, 0.05, 0.855, 0.06);
    color: #e0e0e0;
    cursor: pointer;
}
.menu-items li:hover{
    color: rgb(255, 220, 156);
    transition: .2s all cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.social-items{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 80px;
}
.social-items ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    list-style: none;
}
.social-items ul li a{
    text-decoration: none;
    color: #e0e0e0;
    cursor: pointer;
}
.social-items ul li:hover{
    text-decoration: .5px underline #7c7c7c;
}